<a href="https://colab.research.google.com/github/sgandyang/HyperIsland/blob/main/HIProject02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Enter the topics for the period
item_list1 = "printer" #@param {type:"string"}
item_list2 = "christmas" #@param {type:"string"}
item_list3 = "label" #@param {type:"string"}
#@markdown **Input NA if not available. Then select Runtime --> Run all (Ctrl + F9)** Note: Query 3 may fail if too much data is returned. Please restart and enter query in item 1 again

In [ ]:
pip install pytrends

Collecting pytrends
  Downloading pytrends-4.7.3-py3-none-any.whl (14 kB)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from pytrends) (1.1.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pytrends) (4.2.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pytrends) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pytrends) (2021.5.30)
Installing collected packages: pytrends
Successfully installed pytrends-4.7.3

In [ ]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrends = TrendReq(hl='en-US', tz=360)

In [ ]:
kw_list = [item_list1]
pytrends.build_payload(kw_list, cat=0, timeframe='today 3-m', geo='SG')

In [ ]:
pytrends.related_topics()

{'printer': {'rising':     value formattedValue  ...         topic_title                         topic_type
  0   50900       Breakout  ...          Challenger                              Topic
  1   33800       Breakout  ...         3D modeling                              Topic
  2   33700       Breakout  ...       Harvey Norman                              Topic
  3   33700       Breakout  ...   Internet Protocol                              Topic
  4   16850       Breakout  ...    Courts Singapore                              Topic
  5   16750       Breakout  ...          IP address  Application programming interface
  6   16750       Breakout  ...       Harvey Norman                     Retail company
  7     250          +250%  ...          User guide                              Topic
  8     120          +120%  ...         3D printing                              Topic
  9     120          +120%  ...             HP Envy                            Printer
  10    120          +120%  ...        Installation                  Computer programs
  11    120          +120%  ...    Wireless Printer                              Topic
  12    120          +120%  ...  Zebra Technologies              Manufacturing company
  13     90           +90%  ...       Image scanner                              Topic
  14     60           +60%  ...            Spooling                              Topic
  15     60           +60%  ...             Brother                              Topic
  16     40           +40%  ...       Device driver                   Type of software

  [17 rows x 6 columns],
  'top':     value formattedValue  ...              topic_title                 topic_type
  0     100            100  ...                  Printer  Computer peripheral class
  1      13             13  ...          Hewlett-Packard  Computer hardware company
  2      11             11  ...          Hewlett-Packard                      Topic
  3      11             11  ...       Brother Industries            Machine company
  4      11             11  ...                  Brother                      Topic
  5      10             10  ...                 Printing            Visual art form
  6       9              9  ...                    Canon                Corporation
  7       9              9  ...                    Canon                      Topic
  8       9              9  ...              3D printing                      Topic
  9       8              8  ...                      Ink                      Topic
  10      8              8  ...  Three-dimensional space                      Topic
  11      7              7  ...                    Laser                      Topic
  12      7              7  ...            Device driver           Type of software
  13      7              7  ...                  Brother                      Topic
  14      7              7  ...           Laser printing                      Topic
  15      6              6  ...                    Epson        Electronics company
  16      6              6  ...            Label printer                      Topic
  17      6              6  ...           Printer driver                      Topic
  18      5              5  ...            Ink cartridge                      Topic
  19      5              5  ...                    Label                      Topic
  20      4              4  ...            Image scanner                      Topic
  21      4              4  ...            Laser Printer                      Topic
  22      3              3  ...            Photo printer  Computer peripheral class
  23      3              3  ...          Inkjet printing  Computer peripheral class

  [24 rows x 7 columns]}}

In [ ]:
pytrends.related_queries()

{'printer': {'rising': None, 'top':                   query  value
  0            hp printer    100
  1       brother printer     89
  2  printer shop near me      6}}

In [ ]:
kw_list = [item_list2]
pytrends.build_payload(kw_list, cat=0, timeframe='today 3-m', geo='SG')

In [ ]:
pytrends.related_topics()

{'christmas': {'rising':      value formattedValue  ...                    topic_title     topic_type
  0   248100       Breakout  ...                           Idea          Topic
  1    98650       Breakout  ...                    Marketplace          Topic
  2    98200       Breakout  ...                         Dinner          Topic
  3    49400       Breakout  ...               Christmas market          Topic
  4    49250       Breakout  ...                   Christianity       Religion
  5    49200       Breakout  ...                 Do it yourself          Topic
  6    24650       Breakout  ...                 Last Christmas  Song by Wham!
  7    24500       Breakout  ...                        Pajamas       Clothing
  8    24500       Breakout  ...                           Snow          Topic
  9    24450       Breakout  ...                         Wreath          Topic
  10     350          +350%  ...           Christmas decoration          Topic
  11     300          +300%  ...               Christmas Island      Territory
  12     170          +170%  ...                 Christmas tree          Topic
  13     130          +130%  ...  Merry Christmas, Mr. Lawrence      1983 film
  14     120          +120%  ...                           Tree          Plant
  15      80           +80%  ...                           Gift          Topic
  16      80           +80%  ...               Christmas dinner          Topic

  [17 rows x 6 columns],
  'top':     value formattedValue  ...                    topic_title     topic_type
  0     100            100  ...                  Christmas Day      Festivity
  1      16             16  ...                 Christmas tree          Topic
  2      14             14  ...                           Tree          Plant
  3       9              9  ...                           Idea          Topic
  4       7              7  ...           Christmas decoration          Topic
  5       6              6  ...               Christmas Island      Territory
  6       5              5  ...                           Gift          Topic
  7       5              5  ...                 Christmas gift          Topic
  8       4              4  ...                            Day   Unit of time
  9       4              4  ...                    Marketplace          Topic
  10      4              4  ...  Merry Christmas, Mr. Lawrence      1983 film
  11      4              4  ...                         Dinner          Topic
  12      3              3  ...                Christmas music  Musical genre
  13      3              3  ...               Christmas dinner          Topic
  14      2              2  ...               Christmas market          Topic
  15      2              2  ...               Christmas lights          Topic
  16      2              2  ...                   Christianity       Religion
  17      2              2  ...                 Do it yourself          Topic
  18      2              2  ...                          Chord          Music
  19      1              1  ...                 Last Christmas  Song by Wham!
  20      1              1  ...                        Pajamas       Clothing
  21      1              1  ...                           Snow          Topic
  22      1              1  ...                         Wreath          Topic

  [23 rows x 7 columns]}}

In [ ]:
pytrends.related_queries()

{'christmas': {'rising':               query  value
  0  christmas island    100, 'top':               query  value
  0  christmas island    100
  1    christmas tree     82}}

In [ ]:
kw_list = [item_list3]
pytrends.build_payload(kw_list, cat=0, timeframe='today 3-m', geo='SG')

In [ ]:
pytrends.related_topics()

{'label': {'rising':    value formattedValue  ...            topic_title       topic_type
  0  70700       Breakout  ...                    Tag         Metadata
  1  46700       Breakout  ...                ggplot2            Topic
  2  23400       Breakout  ...               Name tag            Topic
  3    350          +350%  ...           Record label            Topic
  4    130          +130%  ...               Burberry  Fashion company
  5    130          +130%  ...    White-label product            Topic
  6    130          +130%  ...  Nutrition facts label            Topic
  7     50           +50%  ...         Johnnie Walker            Topic
  8     40           +40%  ...               Printing  Visual art form

  [9 rows x 6 columns], 'top':     value  ...                     topic_type
  0     100  ...                          Topic
  1      19  ...                          Topic
  2      17  ...      Computer peripheral class
  3      15  ...                          Topic
  4      14  ...  Pizza restaurant in Singapore
  5       8  ...                Visual art form
  6       6  ...                          Topic
  7       6  ...                          Topic
  8       5  ...                       Metadata
  9       5  ...                          Topic
  10      3  ...                Fashion company
  11      3  ...    Clothing store in Singapore
  12      3  ...                          Topic
  13      3  ...                          Topic
  14      3  ...                          Topic
  15      2  ...                          Topic
  16      2  ...            Electronics company
  17      2  ...                         Winery
  18      2  ...                Literary theory

  [19 rows x 7 columns]}}

In [ ]:
pytrends.related_queries()

{'label': {'rising': None, 'top':               query  value
  0        blue label    100
  1  blue label pizza     55
  2       white label     50
  3         mgp label     20
  4      willow label     20
  5   the white label     15
  6  the willow label     10}}

In [ ]:
pytrends.trending_searches(pn='singapore')

                                0
0            Brighton vs Man City
1                    Mamat Khalid
2   Singapore travel restrictions
3               Karwa Chauth 2021
4         Chelsea vs Norwich City
5                   Meadow Walker
6          Arsenal vs Aston Villa
7          West Indies vs England
8                              F1
9                     EPL results
10                         Lakers
11             Everton vs Watford
12    Crystal Palace vs Newcastle
13              India vs Pakistan
14                  Bayern Munich
15        Man United vs Liverpool
16                    IND) vs Pak
17                   Alec Baldwin
18                     Planet 999
19           Warriors vs Clippers

In [ ]:
pytrends.trending_searches(pn='malaysia')

                              0
0                  Mamat Khalid
1          Brighton vs Man City
2              Bologna vs Milan
3       Sri Lanka vs Bangladesh
4       Chelsea vs Norwich City
5                   Paul Walker
6        Arsenal vs Aston Villa
7        West Indies vs England
8     South Africa vs Australia
9            Everton vs Watford
10                           F1
11                    Barcelona
12         Bayern vs Hoffenheim
13               Lakers vs Suns
14  Crystal Palace vs Newcastle
15                  EPL results
16            India vs Pakistan
17                      Jirisan
18                 Nur Izzuddin
19       Leeds United vs Wolves